<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
         metadata-complete="true">


    <!--配置web应用的初始化参数-->
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost:3306/mybatis</param-value>
    </context-param>



    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>com.yukicris.servlet.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>getservlet</servlet-name>
        <servlet-class>com.yukicris.servlet.GetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getservlet</servlet-name>
        <url-pattern>/getservlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletDemo03</servlet-name>
        <servlet-class>com.yukicris.servlet.ServletDemo03</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDemo03</servlet-name>
        <url-pattern>/servletDemo03</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletDemo04</servlet-name>
        <servlet-class>com.yukicris.servlet.ServletDemo04</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDemo04</servlet-name>
        <url-pattern>/servletDemo04</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ProperitiesServlet</servlet-name>
        <servlet-class>com.yukicris.servlet.ProperitiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProperitiesServlet</servlet-name>
        <url-pattern>/ProperitiesServlet</url-pattern>
    </servlet-mapping>

</web-app>
